.array-container{
    position:absolute;
    left: 100px;
}
.aa{
    display: block;
    padding-left: 35%;
    margin-right: 20px;
}
.array-bar{
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}